# =========================

# Maven

# =========================

target/

# =========================

# IntelliJ IDEA

# =========================

.idea/
*.iml

# =========================

# OS (optional, aber sinnvoll)

# =========================

.DS_Store
Thumbs.db

# =========================

# Logs

# =========================

*.log
/.refact/
